
*{
    margin: 0px;
    padding: 0px;
}
.bg1{
    background-color: aqua;
}
.bg2{
    background-color: rgb(4, 66, 66);
}
.main {
    background-color: rgb(243, 141, 18);
    
    margin: 5px;

   
    display: flex;
    flex-direction: column;
}

.ICONBanniere {
    font-size: 50px;
    color: rgb(46, 42, 42);
   
}
.titre {
    margin-left: 8px;
    font-size: 22px;
    font-weight: 700;
        
}   

.categoryMain{

    background-color: aquamarine;
    display: flex;
    align-items: center;
    height: 50px;
}


.catagory{

   
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}
