
*{
    margin: 0px;
    padding: 0px;
}
.main {
    background-color: bisque;
    
    margin: 5px;

   
    display: flex;
    flex-direction: column;
}

.ICONBanniere {
    font-size: 50px;
    color: rgb(46, 42, 42);
   
}
.titre {
    margin-left: 8px;
    font-size: 22px;
    font-weight: 700;
        
}  

/*couleur catégorie*/
.bg1{
    background-color: aquamarine(84, 209, 209);
}
.bg2{
    background-color: rgb(4, 66, 66);
}
.categoryMain{

    background-color: rgb(232, 241, 238);
    display: flex;
    align-items: center;
    height: 50px;
}


.catagory{

   
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}
/* Space pour les Legumes*/
.Legume{
    display: flex; row;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}
.Poivron{
    border-radius: 25px ;
    border: 2px solid ;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 600px;
    height: 500px;
    border-radius: 25px;
    background-color: #ded7d7;
}
.prix{
    text-align: right;
    color: black;
}

.Champignon {
    border-radius: 25px ;
    border: 2px solid ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
    border-radius: 25px;
    background-color: #ded7d7;
}